html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-flow: column;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.title {
  font-family: 'Berkshire Swash', serif;
  font-size: xx-large;
  padding: 0;
}


.btn-success {
  background-color: #7390cdfc;
  border-color: #7390cdfc;
  color: white;
}

.btn-success:hover {
  background-color: #516faefc;
  border-color: #516faefc;
  color: white;
}

.btn-success:not(:disabled):not(.disabled):active {
  background-color: #7390cdfc;
  border-color: #7390cdfc;
  color: white;
}

.btn-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(18, 48, 131, 0.5);
}

.navbar {
  flex:1;
}

label {
margin-right: .5rem;
margin-top: .2rem;
margin-bottom: 0rem;
}

.form-group {
margin-bottom: 0rem;
display: flex;
}

.modal-content {
-ms-flex-direction: column;
flex-direction: column;
justify-content: space-around;
padding: 1rem;
}

.nothing-found {
  text-align: center;
}

.shrug{
  width: 50px;
}

.entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: darkgray;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.entry-title{
color: red;
}

.entry-desc{
  color: rgb(0, 4, 255);
}

.entry-image {
  width: 90px;
  height: 90px;
  border-radius: 5px;
  background: #53478d;
  margin: 5px;
}

.entry-about{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 75%;
}

.mini-add {
  width: 50px;
  height: 20px;
  font-size: 60%;
  padding-top: 0px;
  padding: 0px;
}

.jscolor {
border-radius: 10px;
border-style: none;
height: 0.9rem;
width: 12.5rem;
font-size: 12px;
text-align: center;
}

.year-interval {
display:flex;
justify-content: space-evenly;
}

.dropdown-item.active, .dropdown-item:active {
color:inherit;
background-color: inherit;
}
.dropdown-item:focus, .dropdown-item:hover {
background-color: inherit;
}

.form-control {
height: calc(2rem + 2px);
}

.form-control:focus {
box-shadow: none;
}

.add-button {
display:flex;
justify-content: space-around;
padding-bottom: 0.5rem;
}

.inner_remaining {
  flex : 15;
  background-color: #BEBCC9;
  overflow-x: scroll;
  overflow-y: scroll;
  display: flex;
  flex-flow: column;
  position: relative;
}

.inner_remaining .years {
  display: flex;
  flex-flow: row;
  padding-left: 0;
  margin-bottom: 0;
  flex: 1;
}

.years li{
  display:inline;
}


.inner_remaining .timeline {
  flex: 22;
  position: relative;
}

.inner_remaining .axis {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
  background-color: #BEBCC9;
}

.vertical-line {
  width: 1px;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  margin-top:0;
  margin-bottom: 0;
}

.axis-element{
width: 2.5rem;
flex-shrink: 0;
}

.axis-year{
text-align: center;
}


.inner_remaining .bar-axis {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 100;
  top: 0;
}

.bars {
  height: 5px;
  background: #53478d;
  margin-top: 0;
  display: flex;
  margin-bottom: 0;
  border: 0;
  border-radius: 25px;
}

.event-overlap {
  margin: 0;
  border: 0;
  border-radius: 30px;
  height: inherit;
  width: 5px;
  background: yellow;
}

.person {
  margin-bottom: 0% !important;
  width: max-content;
  cursor: pointer;
}

p {
  margin-bottom: 0;
  font-size: 60%;
  font-weight: bold;
  font-family: 'Varela Round', serif;
}

#axis_element:nth-child(odd) p {
  color:white;
}

#axis_element:nth-child(even) p {
  color:#004085;
}




/*Notification Info-Box outer frame*/
.arrow{
  position:absolute;
  content:"";
  margin-top:10px;
  margin-left:10px;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-bottom:10px solid transparent;
  margin-top:5px;
}

.drop{
  position:absolute;
  content:"";
  margin-top:20px;
  margin-left:60px;
  margin-top:55px;
  width:0px;
  height:0px;
  border-radius:0px;
  box-shadow:0px 0px 0px black;
}

.pic {
  background:grey;
  width:0px;
  height:0px;
  margin-top:60px;
  margin-left:60px;
}

.info-box-title{
  position: relative;
  height: auto;
  text-align: center;
  border-radius: 4px;
  margin:0.3rem;
  visibility: hidden;
  text-shadow: 0px 0px 0px;
}

.info-box-ocupation{
  position: relative;
  text-align: center;
  margin:0.1rem;
  border-radius: 4px;
  visibility: hidden;
  text-shadow: 0px 0px 0px;
}

.info-box-description{
  position: relative;
  text-align: center;
  border-radius: 4px;
  margin:0.3rem;
  visibility: hidden;
  text-shadow: 0px 0px 0px;
}

.theImage {
  background:grey;
  width:0px;
  height:0px;
  margin-top:60px;
  margin-left:60px;
}

/*End Notification Info-Box outer frame*/

/*On-Hover Animation*/
.person:hover .tbox{
  background: #96969654;
  width: inherit;
  border-radius: 0px 5px 5px 5px;
}

.person:hover{
  color: black;
  text-shadow:1px 1px 3px darkmagenta;
}

.person:hover .arrow{
  position:absolute;
  width:0px;
  height:0px;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-bottom:10px solid white;
  margin-top:10px;
  margin-left:10px;
}

.person:hover .drop{
  position:absolute;
  background:white;
  width:350px;
  height: fit-content;
  flex-flow: row;
  display: flex;
  padding: 0.5rem;
  margin-top:10px;
  margin-left:-40px;
  border-radius:5px;
  box-shadow:1px 1px 10px black;
}

.person:hover .pic {
  background:#DEDEDE;
  width:100px;
  height:100px;
  margin-top: 0;
  margin-left: 0;
  border-radius:5px;
}

.person:hover .theImage {
  margin-top:0px;
  margin-left:0px;
  width:100px;
  height:100px;
  border-radius:5px 0 0 5px;
}

.person:hover .info-box-title{
  visibility: visible;
}

.person:hover .info-box-ocupation{
  visibility: visible;
}

.person:hover .info-box-description{
  visibility: visible;
}